*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container{
    width: 50%;
    height: auto;
    border-style: solid;
    border-color: darkgoldenrod;
    


}


.box{

    background-color: blueviolet;
    height: 30px;
    font-size: 14px;
    transition: 1s height ease-in;
    overflow: hidden;
    
}

.paragraph1{
    height: 0;
    transition: 1s height ease-in;
    overflow: hidden;
    background-color: lightcoral
}

.paragraph1.active{

    height: 50px;
    overflow: auto;
}


.paragraph2{
    height: 0;
    transition: 1s height ease-in;
    overflow: hidden;
    background-color: lightcoral
}

.paragraph2.active{

    height: 50px;
    overflow: auto;
}

.paragraph3{
    height: 0;
    transition: 1s height ease-in;
    overflow: hidden;
    background-color: lightcoral
}

.paragraph3.active{

    height: 50px;
    overflow: auto;
}


